.cv-body {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 100%;
    border: 1px solid black;
}

.cv-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: grey;
}

.cv-header > h1 {
    margin: 0;
}

.cv-info {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 10px;
}

.school-div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}

.edu-section, .role-section {
    padding: 10px;
}
