.experience {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    width: 334px;
}

.experience h2 {
    text-align: center;
}

.cmp-info {
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* margin-top: 5px; */
    margin-bottom: 15px;
}

.top-row, .bot-row {
    display: flex;
    gap: 40px;
    width: 100%;
}

.cmp-holder, .role-holder, 
.start-holder, .end-holder, .rsp-holder {
    display: flex;
    flex-direction: column;
}

.bot-row {
    justify-content: space-between;
}

#responsibilities {
    width: 100%;
}
