body {
  display: flex;
  flex-direction: row;
  padding: 0px;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid;
  height: 100vh;
  width: 600px;
}

.cv-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}